* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  font-style: Inter;
}
.landing {
  background-image: url(Images/BGxyz.png);
  height: 110vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
}
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 80px;
}
.hamburger {
  display: none;
}
.worlds {
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  text-align: left;
  color: antiquewhite;
}
.wealth {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  color: antiquewhite;
}
.hgg {
  display: none;
}
.words {
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 100px;
}
.go {
  color: #f2eff7;
  background-color: #7933FF;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 12px;
}
.go:hover{
    color: aquamarine;
    background-color: black;
    transition-duration: 0.5sec;
    cursor: grab;
}
.wallet{
    background: #7933FF;
color: antiquewhite;
height: 40px;
width: 70px;
border: none;
border-radius: 12px;
justify-content: space-between;
}
.wallet:hover{
    color: aquamarine;
    background-color: black;
    transition-duration: 0.5sec;
    cursor: grab;
}
.land2 {
  background-image: url(Images/abt1.png);
  height: 150vh;
  background-size: cover;
  background-position: center;
  background-color: #2b2e39;
  opacity: 0.85;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content1 {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.mini {
  font-weight: 100;
}
.txt1 {
  color: antiquewhite;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
.txt2 {
  color: antiquewhite;
  font-family: Inter;
  font-size: 12px;
  /* font-weight: 600; */
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.txt3 {
  color: antiquewhite;
  font-family: Inter;
  font-size: 12px;
  /* font-weight: 600; */
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.txt4 {
  color: antiquewhite;
  align-items: center;
  align-content: center;
  font-family: Inter;
  font-size: 12px;
  /* font-weight: 400; */
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
.comp2{
    display: none;
}
@media screen and (max-width: 768px) {
  .landing {
    background-image: url(Images/Vectors.png);
    height: auto;
  }
  .bar {
    display: flex;
    justify-content: space-around;
    height: 50px;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    background: transparent;
  }
  .line1 {
    width: 20px;
    color: antiquewhite;
  }
  .line2 {
    width: 10px;
    color: antiquewhite;
  }
  .line3 {
    width: 5px;
    color: antiquewhite;
  }
  .words {
    background-color: #2b2e39;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 0;
    height: auto;
  }
  .hgg {
    display: block;
  }
  .worlds {
    font-family: Inter;
    font-size: 25px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
  }
  .wealth {
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }
  .land2 {
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: auto;
    opacity: 1;
  }
  .txt1 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
  }
  .comp1{
    display: none;
  }
  .comp2{
    display: block;
  }
  .content1 {
    background-image: url(Images/mobilemesh.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #2b2e39;
    opacity: 0.99;
  }
  .txt2 {
    font-family: Inter;
    font-size: 8px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
  .txt3 {
    font-family: Inter;
    font-size: 8px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }
}
